# NFL Combine Classification Modeling

## Exploratory Data Analysis

## Project Goals

- Determine the influence the NFL Combine has on a prospect getting drafted or not.
- Determine the influence the NFL Combine has in terms of how early or how late a prospect gets drafted.
- Discover which NFL Combine drills have the most impact on a prospect's draft status.

## Summary of Data

The dataset that was analyzed for this study contains 10,228 observations of NFL Combine data, dating from 1987-2018.

### Library Import

In [4]:
#Import libraries
%run ../python_files/libraries

## Data Importing, Data Merging, and Data Examination

In [5]:
# import nfl combine and NFL Draft data
nfl_combine_df = pd.read_csv('../data/nfl_combine_data.csv')
nfl_draft_df = pd.read_csv('../data/nfl_draft_data.csv')

# quick overview of the NFL Combine dataset
nfl_combine_df

,combine_year,player_name,college,position,height_inches,weight_lbs,hand_size_inches,arm_length_inches,40_yard_dash,bench_press_reps,vertitcal_leap_inches,broad_jump_inches,3_cone_drill,20_yard_shuttle,60_yard_shuttle
0,2017,Jamal Adams,Louisiana State,SS,71.63,214,9.25,33.38,4.56,18.0,31.5,120.0,6.96,4.13,NaN
1,2017,Montravius Adams,Auburn,DT,75.63,304,9.25,32.75,4.87,22.0,29.0,108.0,7.62,NaN,NaN
2,2017,Rodney Adams,South Florida,WR,73.25,189,9.00,32.00,4.44,8.0,29.5,125.0,6.98,4.28,11.39
3,2017,Quincy Adeboyejo,Mississippi,WR,74.75,197,9.38,31.75,4.42,8.0,34.5,123.0,6.73,4.14,NaN
4,2017,Brian Allen,Utah,DB,74.88,215,10.00,34.00,4.48,15.0,34.5,117.0,6.64,4.34,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9945,1987,Rod Woodson,Purdue,CB,72.00,202,10.50,31.00,4.33,10.0,36.0,125.0,NaN,3.98,10.92
9946,1987,John Wooldridge,Ohio State,RB,68.40,193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9947,1987,David Wyman,Stanford,ILB,74.00,235,9.50,31.25,4.79,23.0,29.0,118.0,NaN,4.30,11.78
9948,1987,Theo Young,Arkansas,TE,74.00,231,9.00,34.00,4.89,9.0,30.0,107.0,NaN,4.20,11.71
9949,1987,Jeff Zimmerman,Florida,OG,75.40,341,9.00,33.50,5.36,22.0,22.5,NaN,NaN,4.83,NaN

In [7]:
# quick overview of the NFL Draft dataset
nfl_draft_df

          player_name  combine_year  round  pick team
0      Jameis Winston          2015      1     1  TAM
1      Marcus Mariota          2015      1     2  TEN
2        Dante Fowler          2015      1     3  JAX
3        Amari Cooper          2015      1     4  OAK
4     Brandon Scherff          2015      1     5  WAS
...               ...           ...    ...   ...  ...
8174     Xavier Woods          2017      6   191  DAL
8175      Zach Banner          2017      4   137  IND
8176  Zach Cunningham          2017      2    57  HOU
8177    Zane Gonzalez          2017      7   224  CLE
8178        Zay Jones          2017      2    37  BUF

[8179 rows x 5 columns]

In [11]:
# merge the NFL Combine and NFL Draft datasets
nfl_df = pd.merge(nfl_combine_df, nfl_draft_df, on = ['player_name', 'combine_year'])
nfl_df

,combine_year,player_name,college,position,height_inches,weight_lbs,hand_size_inches,arm_length_inches,40_yard_dash,bench_press_reps,vertitcal_leap_inches,broad_jump_inches,3_cone_drill,20_yard_shuttle,60_yard_shuttle,round,pick,team
0,2017,Jamal Adams,Louisiana State,SS,71.63,214,9.25,33.38,4.56,18.0,31.5,120.0,6.96,4.13,NaN,1,6,NYJ
1,2017,Montravius Adams,Auburn,DT,75.63,304,9.25,32.75,4.87,22.0,29.0,108.0,7.62,NaN,NaN,3,93,GNB
2,2017,Rodney Adams,South Florida,WR,73.25,189,9.00,32.00,4.44,8.0,29.5,125.0,6.98,4.28,11.39,5,170,MIN
3,2017,Brian Allen,Utah,DB,74.88,215,10.00,34.00,4.48,15.0,34.5,117.0,6.64,4.34,NaN,5,173,PIT
4,2017,Jonathan Allen,Alabama,DE,74.63,286,9.38,33.63,5.00,21.0,30.0,108.0,7.49,4.44,NaN,1,17,WAS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6021,1987,Tony Woods,Pittsburgh,DE,74.80,249,10.00,34.00,4.85,18.0,29.0,115.0,NaN,4.55,11.82,1,18,SEA
6022,1987,Rod Woodson,Purdue,CB,72.00,202,10.50,31.00,4.33,10.0,36.0,125.0,NaN,3.98,10.92,1,10,PIT
6023,1987,David Wyman,Stanford,ILB,74.00,235,9.50,31.25,4.79,23.0,29.0,118.0,NaN,4.30,11.78,2,45,SEA
6024,1987,Theo Young,Arkansas,TE,74.00,231,9.00,34.00,4.89,9.0,30.0,107.0,NaN,4.20,11.71,12,317,PIT
6025,1987,Jeff Zimmerman,Florida,OG,75.40,341,9.00,33.50,5.36,22.0,22.5,NaN,NaN,4.83,NaN,3,68,DAL

1771 undrafted, 382 not matching

In [12]:
# quick review of the variables in the NFL merged dataset
nfl_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6026 entries, 0 to 6025
Data columns (total 18 columns):
combine_year             6026 non-null int64
player_name              6026 non-null object
college                  6026 non-null object
position                 6026 non-null object
height_inches            6026 non-null float64
weight_lbs               6026 non-null int64
hand_size_inches         5346 non-null float64
arm_length_inches        5149 non-null float64
40_yard_dash             5499 non-null float64
bench_press_reps         4352 non-null float64
vertitcal_leap_inches    5073 non-null float64
broad_jump_inches        4969 non-null float64
3_cone_drill             2903 non-null float64
20_yard_shuttle          4485 non-null float64
60_yard_shuttle          1922 non-null float64
round                    6026 non-null int64
pick                     6026 non-null int64
team                     6026 non-null object
dtypes: float64(10), int64(4), object(4)
memory usage: 894.5+ KB

In [14]:
# quick review of the characteristics of the feature variables in the dataset
nfl_df.describe()

,combine_year,height_inches,weight_lbs,hand_size_inches,arm_length_inches,40_yard_dash,bench_press_reps,vertitcal_leap_inches,broad_jump_inches,3_cone_drill,20_yard_shuttle,60_yard_shuttle,round,pick
count,6026.000000,6026.000000,6026.000000,5346.000000,5149.000000,5499.000000,4352.000000,5073.000000,4969.000000,2903.000000,4485.000000,1922.000000,6026.000000,6026.000000
mean,2001.920345,73.869570,242.174079,9.550690,32.302012,4.800898,20.379366,32.472344,113.244114,7.303441,4.383458,11.613668,4.301361,121.241786
std,9.145788,2.629261,45.200184,0.633537,1.488739,0.305383,6.570598,4.222109,9.442308,0.429776,0.265619,0.412158,2.445242,76.472839
min,1987.000000,64.900000,142.000000,7.130000,25.630000,4.210000,1.000000,19.500000,7.000000,6.440000,3.730000,10.430000,1.000000,1.000000
25%,1994.000000,72.000000,204.000000,9.130000,31.250000,4.560000,16.000000,29.500000,107.000000,6.970000,4.190000,11.330000,2.000000,57.000000
50%,2002.000000,74.000000,236.000000,9.500000,32.250000,4.730000,20.000000,32.500000,114.000000,7.220000,4.350000,11.590000,4.000000,114.000000
75%,2010.000000,75.900000,279.000000,10.000000,33.250000,5.020000,25.000000,35.500000,120.000000,7.580000,4.560000,11.870000,6.000000,179.000000
max,2017.000000,81.100000,387.000000,11.880000,38.500000,5.770000,49.000000,46.000000,147.000000,9.280000,5.400000,13.380000,12.000000,336.000000

In [15]:
# check the number of NaN values in the dataset
nfl_df.isna().sum()

combine_year                0
player_name                 0
college                     0
position                    0
height_inches               0
weight_lbs                  0
hand_size_inches          680
arm_length_inches         877
40_yard_dash              527
bench_press_reps         1674
vertitcal_leap_inches     953
broad_jump_inches        1057
3_cone_drill             3123
20_yard_shuttle          1541
60_yard_shuttle          4104
round                       0
pick                        0
team                        0
dtype: int64

## Data Cleaning, Data Transformations, and Data Exploration

In [ ]:
# Create dummy values for the categorical variables

# auto_df['mstatus'] = auto_df['mstatus'].map({'Yes': 1, 'No': 0})
# auto_df['sex'] = auto_df['sex'].map({'M': 1, 'F': 0})
# auto_df['education'] = auto_df['education'].map({'<High School': 0, 'High School': 0, 'Bachelors': 1, 'Masters': 1, 'PhD': 1})
# auto_df['job'] = auto_df['job'].map({'Student': 1, 'Blue Collar': 0, 'Clerical': 0, 'Doctor': 0, 'Home Maker': 0, 'Lawyer': 0, 'Manager': 0, 'Professional': 0})

In [ ]:
# Log Transformations for non-normalized variables. Then, drop the original variable from the dataset.

# def log_col(df, col):
#     '''Convert column to log values and
#     drop the original column
#     '''
#     df[f'{col}_log'] = np.log(df[col])
#     df.drop(col, axis=1, inplace=True)

# log_col(auto_df, 'tif')

In [ ]:
# quick review of the characteristics of all variables in the dataset, 
# including the new dummy variables and log-transformed variables
# df.describe()

In [ ]:
# Correlations between all variables in auto_df dataset
# df.corr(method = 'pearson')

In [ ]:
#Correlation Heatmap of all variables in auto_df dataset

# mask = np.zeros_like(auto_df.corr())
# triangle_indices = np.triu_indices_from(mask)
# mask[triangle_indices] = True

# plt.figure(figsize=(35,30))
# ax = sns.heatmap(auto_df.corr(method='pearson'), cmap="coolwarm", mask=mask, annot=True, annot_kws={"size": 18}, square=True, linewidths=4)
# sns.set_style('white')
# plt.xticks(fontsize=14, rotation=45)
# plt.yticks(fontsize=14, rotation=0)
# bottom, top = ax.get_ylim()
# ax.set_ylim(bottom + 0.5, top - 0.5)
# plt.show()

## Initial Train and Test Dataset Creation

In [ ]:
#Split auto_insurance_df into train and test datasets for our logistic and linear regression models

#train and test datasets for logistic regression model
# crash = auto_df['crash']
# features_log = auto_df.drop(['crash', 'crash_cost'], axis = 1)
# x_train_log, x_test_log, y_train_log, y_test_log = train_test_split(features_log, crash, test_size = 0.2, random_state = 10)

## Feature Selection

For modeling purposes, we used recursive feature elimination for both our logistic regression model and our simple linear regression model. This process uses cross-validation techniques, using accuracy as a metric, to eliminate variables that may hurt our model performance. Those variables get dropped from the dataset prior to modeling.

### Recursive Feature Elimination for Logistic Regression Model

In [ ]:
# logreg_model = LogisticRegression()
# rfecv_log = RFECV(estimator=logreg_model, step=1, cv=StratifiedKFold(10), scoring='accuracy')
# rfecv_log.fit(x_train_log, y_train_log)

In [ ]:
# feature_importance_log = list(zip(features_log, rfecv_log.support_))
# new_features_log = []
# for key,value in enumerate(feature_importance_log):
#     if(value[1]) == True:
#         new_features_log.append(value[0])
        
# print(new_features_log)

In [ ]:
# linreg_model = LinearRegression()
# rfecv_lin = RFECV(estimator=linreg_model, step=1, min_features_to_select = 1, scoring='r2')
# rfecv_lin.fit(x_train_lin, y_train_lin)

In [ ]:
# feature_importance_lin = list(zip(features_lin, rfecv_lin.support_))
# new_features_lin = []
# for key,value in enumerate(feature_importance_lin):
#     if(value[1]) == True:
#         new_features_lin.append(value[0])
        
# print(new_features_lin)

## Final Train and Test Datasets after Feature Selection

In [ ]:
#final train and test datasets for logistic regression model
# x_train_log = x_train_log[new_features_log]
# x_test_log = x_test_log[new_features_log]

# print(x_train_log.shape)
# print(x_test_log.shape)